<div class="ui container" align="center" style="padding-top: 20px">

  <div class="big ui orange animated fade button" tabindex="0" >
  <div class="visible content">Post a job</div>
  <div class="hidden content" >
    <%= link_to "Click in", new_job_path %>
  </div>

  </div>
</div>
  <% @job.each do |job| %>

  <div class="ui form segment" style="padding-top: 20px">

    <div class="ui feed" >
      <div class="event">
        <div class="label">
        
        </div>
        <div class="content">
          <div class="date">

            <%= days=(Date.current-job.created_at.to_date).to_i

              %> days ago
          </div>
          <div class="summary">
              <%=  job.title   %>
          </div>
        </div>
      </div>
    </div>

  </div>
<% end %>
