@import "semantic-ui";



#novi{
  margin-top: 20px;
}

.ui.button{
  margin-top: 20px;
}

.header{
float: left;
}
.ui.footer{float: left}
footer {
  /*position: absolute;
  bottom: 0;
  width: 100%;*/
}
.ui.form{align: center;}
