<footer>
  <div class='container' align="center">
  <div class="ui section divider"></div>
  <h3 class="ui footer">Get alert for new job</h3>
  <div class="ui input " id="footeremail">
    <input type="email" placeholder="...@gmail.com">
  </div>
  </div>
</footer>
