

<div class="ui grey one inverted  menu">
    <%= link_to "JobBoard", jobs_path, class: "item" %>

<div class="ui  dropdown">
  <input type="hidden" name="category_id">
  <div class="item" name="category_id">Categories</div>
  <div class="menu">
      <% @category.each do |cat| %>
      <div class="item" data-value="cat.id"><i></i> <%= cat.name%></div>
      <% end %>
  </div>
 </div>
  <div class="right menu">
    <div class="item">
      <div class="ui icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>

  </div>
</div>
